{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Sign Up</h2>
            <hr />
            <form method="POST">
              {% csrf_token %}
              {{ template_data.form.as_p }}
              <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" name="email" id="id_email" class="form-control" required value="{{ request.POST.email|default:'' }}">
              </div>
                <!-- dropdown menu for user to select their role of choice -->
                <p>
                  <label for="id_role">Create account as:</label>
                  <select name="role" id="id_role" class="form-select">
                    <option value="JOB_SEEKER">Job Seeker</option>
                    <option value="RECRUITER">Recruiter</option>
                    <option value="ADMIN">Administrator</option>
                  </select>
                </p>
              <button type="submit" class="btn bg-dark text-white">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}